<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fffffzbxrl@tznvy.pbz</string>
	<key>contactName</key>
	<string>Brandon Fryslie</string>
	<key>description</key>
	<string>Goan get my theme on</string>
	<key>name</key>
	<string>TM_Project</string>
	<key>uuid</key>
	<string>37010C6C-7A7D-43B8-81F3-025D064B8F47</string>
</dict>
</plist>
